html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.container__V {
  max-width: 1150px;
  margin: 0 auto;
}
:root {
  --Rectangle_color: #EEEFF1;
  --Rectangle2_color: #34547A;
}
.text__h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 48px;
}
.text__h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 32px;
}
.text__h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 21px;
}
.text__p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
/* Start header */
/* ----------------------------------- */
.header {
  min-height: 700px;
  padding: 60px 0 150px;
  background-color: var(--Rectangle_color);
}
.menu__iner_iner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 130px;
}
.logo {
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
}
.nav {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 42px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  height: 16px;
  letter-spacing: 0.1em;
}
.nav li a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 10px 10px;
  color: inherit;
}
.nav li a:last-child {
  padding-right: 0;
} 
.nav li a:hover {
  color: var(--Rectangle2_color);
}
.first-screen__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo2 {
  margin-right: 130px;
  margin-left: 80px;
  width: 357px;
  height: 234px;
}
.text__title {
  padding-left: 80px;
}
.text__h1_h1 {
  margin-bottom: 60px;
}
.text__p_p {
  max-width: 520px;
  margin-bottom: 60px;
}
.text__title_btn {
  display: inline-block;
  border: none;
  background-color: var(--Rectangle2_color);
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 20px 0 0 0;
  width: 225px;
  height: 65px;
}
.text__title_btn:hover {
  background-color: red;
}
/* End header */
/* ------------------------------------ */
/* Start section - about-me */
.about-me {
  margin-bottom: 111px;
}
.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 510px;
  height: 147px;
  margin: 0 auto;
}
.about-me_h2 {
  padding-top: 112px;
  margin-bottom: 30px;
}
.about-me_p {
  padding-bottom: 100px;
}
/* End section - about-me */
/* ---------------------------------------- */
/* Start section - numbers */
.numbers {
  margin-top: 200px;
  background-color: var(--Rectangle2_color);
  height: 250px;
}
.numbers__flex {
  display: flex;
  justify-content: space-between;
}
.numbers__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: #fff;
  padding: 89px 0 102px;
}
.numbers__h3 {
  margin-bottom: 5px;
}
/* End section - numbers */
/* ---------------------------------------------- */
/* Start section - skills */
.skills {
  padding: 100px 0;
}
.skills__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills__h2 {
  margin-bottom: 50px;
}
.skills__p {
  margin-bottom: 20px;
}
.skills__progress_bar {
  display: flex;
  width: 450px;
  height: 4px;
  background-color: #C4C4C4;
  margin-bottom: 30px;
}
.skills__progress_bar:last-child {
  margin-bottom: 0;
}
.skills__progress_bar_completed {
  background-color: var(--Rectangle2_color);
}
.skills__img {
  width: 350px;
  height: 470px;
  margin-right: 100px;
}
/* End section - skills */
/* ----------------------------------------- */
/* Start section - my__job */